$color-white: #fff;
$color-black: #29303b;

$color-primary-blue: #1793d1;

$color-primary-gray-dark: #58595b;
$color-primary-gray: #9b9b9b;
$color-primary-gray-light: #dbdcdd;
$color-primary-gray-lighter: #f8f7f7;

$color-secondary-orange: #ff9e62;
$color-secondary-green: #00a98f;

$color-facebook: #3c5a99;
$color-google: #4885ed;
$color-red: #f45063;

$screen-small: 480px;
$screen-medium: 768px;
$screen-large: 1023px;

$font-huge: 3.2rem;
$font-bigger: 2.5rem;
$font-big: 2rem;
$font-larger: 1.8rem;
$font-normal: 1.6rem;
$font-smaller: 1.3rem;
$font-tiny: 1rem;

$header-height: 5rem;

$z-index-lower: 1;
$z-index-normal: 2;
$z-index-higher: 3;
