@import "0-externals/normalize";
@import "0-externals/animate";
@import "0-externals/grid";
@import "0-externals/react-toastify";
@import "0-externals/swiper";

@import "1-abstracts/variables";
@import "1-abstracts/mixins";

@import "2-base/utilities";
@import "2-base/typography";
@import "2-base/base";


@import "3-css-components/stripe";
@import "3-css-components/input";
@import "3-css-components/button";
@import "3-css-components/link";
@import "3-css-components/or";
@import "3-css-components/spinner";
@import "3-css-components/checkbox";
@import "3-css-components/collapsible";
@import "3-css-components/modal";
@import "3-css-components/radio-button";
@import "3-css-components/tooltip";
@import "3-css-components/my-swiper";

hr {
  color: $color-primary-gray-lighter;
  border-width: 0.5px;
}

.error {
  border: 1px solid transparent;
  color: $color-red;
  font-size: $font-smaller;
  padding: 0.5rem 0;
  text-align: left;
}
