.pagination {
  display: block;
  list-style: none;

  .active {
    background-color: $color-primary-blue;
    color: white;
  }
}

.pagination li {
  display: inline-block;
  padding: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-top: 1px solid $color-primary-gray;
  border-bottom: 1px solid $color-primary-gray;
  border-left: 1px solid $color-primary-gray;
  position: relative;

  a {
    @include center-screen;
    font-size: $font-normal;
    padding: 0.9rem 1.4rem;
  }

  &:hover {
    background-color: $color-primary-blue;
  }

  &:last-child {
    border-right: 1px solid $color-primary-gray;
  }
}
